<link rel="stylesheets" href="application.css" >
<center> <img src="https://i.imgur.com/9DydJly.jpg"> </center>
<center><h1>WELCOME!</h1>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>
<br>
<br>
<section class="button">
<%= button_to "Sign Up", '/users/new', method: :get%>
</section>
<br>
<br>
<section class="button">
<%= button_to "Go to the Main Page", '/users', method: :get%></center> 
</section>

