<h1><p style="color:#BE3D21";>THOSE WHO ALREADY COMMITTED...</h1></p>

<body>

<% @users.each do |user| %>
<%= link_to user.username, user_path(user) %>
<br>
<br>
<% end %> 
</body>
<br>
<br>
<%= button_to "Turn into one of us", new_user_path, :method => :get %>
<br>
<br>
<%= button_to "See all the stories", stories_path, :method => :get %>
<br>
<br>
<%= button_to "Search by location", locations_path, :method => :get %>
